*
!/assets/
!/.github/
!/docs/
!/docs/images/
!/licenses/
!/prompts/
!/tools/
!/ttaem_cva/
!/assets/branding/
!/prompts/broadcast_map/
!/prompts/highlight/
!/prompts/story/
!/ttaem_cva/context_structure/
!/ttaem_cva/outline/
!/ttaem_cva/subtitle_enhancement/
!/ttaem_cva/vod/
!/ttaem_cva/web/
!/ttaem_cva/web/static/
!/ttaem_cva/web/templates/
!/ttaem_cva/web/static/admin/
!/ttaem_cva/web/static/admin/vendor/
!/.gitignore
!/.github/PULL_REQUEST_TEMPLATE.md
!/AGENTS.md
!/CLAUDE.md
!/CONTRIBUTING.md
!/LICENSE
!/README.md
!/THIRD_PARTY_NOTICES.md
!/assets/branding/TTaem_CVA_logo.svg
!/docs/AGENT_POLICY.md
!/docs/FEATURES_AND_SCOPE.md
!/docs/OPTIONAL_AUDIO_REFERENCE.md
!/docs/POLICY.md
!/docs/PUBLISHING.md
!/docs/SETUP.md
!/docs/images/report-example-15088168.png
!/docs/images/scene-finder-example-15088168.png
!/licenses/Apache-2.0.txt
!/licenses/Chart.js-LICENSE.md
!/licenses/hls.js-LICENSE.txt
!/prompts/broadcast_map/chunk_observer.md
!/prompts/broadcast_map/finalizer.md
!/prompts/broadcast_map/story_point_selector.md
!/prompts/highlight/editorial_highlight.md
!/prompts/highlight/editorial_highlight_discovery.md
!/prompts/highlight/editorial_highlight_selection.md
!/prompts/story/selector_system.md
!/requirements-lock.txt
!/requirements.txt
!/setup.py
!/ttaem_cva/__init__.py
!/ttaem_cva/__main__.py
!/ttaem_cva/acquire.py
!/ttaem_cva/admin_views.py
!/ttaem_cva/broadcast_map_evidence.py
!/ttaem_cva/broadcast_map_prompt_budget.py
!/ttaem_cva/chat_analyzer.py
!/ttaem_cva/context_structure/__init__.py
!/ttaem_cva/context_structure/contracts.py
!/ttaem_cva/editorial_contract.py
!/ttaem_cva/editorial_highlight_candidate_discovery.py
!/ttaem_cva/editorial_highlight_cards.py
!/ttaem_cva/editorial_highlight_pipeline.py
!/ttaem_cva/editorial_highlight_projection.py
!/ttaem_cva/editorial_span_authoring.py
!/ttaem_cva/fixed_prompt_assets.py
!/ttaem_cva/highlight_prompt_assets.py
!/ttaem_cva/highlight_story_window.py
!/ttaem_cva/llm_gateway.py
!/ttaem_cva/local_files.py
!/ttaem_cva/manager_outline.py
!/ttaem_cva/models.py
!/ttaem_cva/outline/__init__.py
!/ttaem_cva/outline/canonicalize.py
!/ttaem_cva/outline/check.py
!/ttaem_cva/outline/limits.py
!/ttaem_cva/outline/parse.py
!/ttaem_cva/outline/payload.py
!/ttaem_cva/outline/prompts.py
!/ttaem_cva/outline/render.py
!/ttaem_cva/outline/schema.py
!/ttaem_cva/playback.py
!/ttaem_cva/public_report.py
!/ttaem_cva/report_components.py
!/ttaem_cva/report_template.py
!/ttaem_cva/server.py
!/ttaem_cva/story_packet_selector.py
!/ttaem_cva/streamer_recent_context.py
!/ttaem_cva/subtitle_enhancement/__init__.py
!/ttaem_cva/subtitle_enhancement/profile.py
!/ttaem_cva/subtitle_enhancement/reference.py
!/ttaem_cva/subtitle_enhancement/timing.py
!/ttaem_cva/subtitle_enhancement/turn_display.py
!/ttaem_cva/summary_quality_profile.py
!/ttaem_cva/timed_evidence.py
!/ttaem_cva/timeline_comment_anchors.py
!/ttaem_cva/timeline_comment_collector.py
!/ttaem_cva/transcribe.py
!/ttaem_cva/utils.py
!/ttaem_cva/vod/__init__.py
!/ttaem_cva/vod/editor.py
!/ttaem_cva/voice.py
!/ttaem_cva/web/static/admin/app_shell.css
!/ttaem_cva/web/static/admin/dashboard.css
!/ttaem_cva/web/static/admin/home.css
!/ttaem_cva/web/static/admin/library.js
!/ttaem_cva/web/static/admin/report_player.js
!/ttaem_cva/web/static/admin/report_workspace.css
!/ttaem_cva/web/static/admin/report_workspace.js
!/ttaem_cva/web/static/admin/report_workspace_history.js
!/ttaem_cva/web/static/admin/report_workspace_state.js
!/ttaem_cva/web/static/admin/report_workspace_time_scrubber.js
!/ttaem_cva/web/static/admin/report_workspace_timeline.js
!/ttaem_cva/web/static/admin/vendor/hls.min.js
!/ttaem_cva/web/static/chart.umd.min.js
!/ttaem_cva/web/static/publish.js
!/ttaem_cva/web/static/report.css
!/ttaem_cva/web/static/report.js
!/ttaem_cva/web/templates/home.html
!/ttaem_cva/web/templates/report_workspace.html
!/ttaem_cva/web/templates/summary.html
!/ttaem_cva/workflow.py
!/ttaem_cva/audio_features.py
!/ttaem_cva/chat_emoticons.py
!/ttaem_cva/chunker.py
!/ttaem_cva/chzzk_user_clips.py
!/ttaem_cva/clip_anchors.py
!/ttaem_cva/clip_cards.py
!/ttaem_cva/clip_network.py
!/ttaem_cva/clip_probe.py
!/ttaem_cva/community.py
!/ttaem_cva/community_parser.py
!/ttaem_cva/content_cards.py
!/ttaem_cva/context_inputs.py
!/ttaem_cva/highlight_candidate_pipeline.py
!/ttaem_cva/lexicon.py
!/ttaem_cva/recorrect.py
!/ttaem_cva/review_signals.py
!/ttaem_cva/source_signals.py
!/ttaem_cva/streamer_vocab.py
!/ttaem_cva/summary_local_vector_index.py
!/ttaem_cva/summary_pre_generation_evidence.py
!/ttaem_cva/user_clips_filter.py
!/ttaem_cva/visual_scene_signal.py
!/ttaem_cva/visual_support.py
